apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: app
  name: app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: app
  strategy: {}
  template:
    metadata:
      labels:
        app: app
    spec:
      containers:
      - image: flask-s3-app
        name: flask-s3-app
        ports:
        - containerPort: 5000
        resources: {}
      readinessProbe:
        httpGet:
          path: /up
          port: 5000
        initialDelaySeconds: 5
        periodSeconds: 5
      livenessProbe:
        httpGet:
          path: /up
          port: 5000
        initialDelaySeconds: 15
        periodSeconds: 20
status: {}
